@using Md.Client.Properties.Layout
<nav class="flex items-center justify-between flex-wrap p-6 @Bg.Hover @Txt.Main">
    <div class="flex items-center flex-shrink-0 mr-6 @Txt.Main">
        <img class="w-10 h-10 rounded-full mr-4" src="/images/icon.png" alt="Whatthedrink Logo">
        <span class="font-semibold text-xl tracking-tight">Whathedrink</span>
    </div>
    <div class="block lg:hidden">
        <button @onclick="ToggleHamburgerMenu" class="flex items-center px-3 py-2 border rounded @Txt.Main @Border.Hover">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto @IsHamburgerVisible">
        <div class="text-sm lg:flex-grow">
            <a href="/bars" class="block mt-4 lg:inline-block lg:mt-0 mr-4 @Txt.Hover">
                Bars
            </a>
            <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 mr-4 @Txt.Hover">
                About
            </a>
        </div>
        <div>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none rounded mt-4 lg:mt-0 @Txt.Hover @Border.Hover">Login</a>
        </div>
    </div>
</nav>

@code {
    private bool isHamburgerVisible = true;

    private string? IsHamburgerVisible => isHamburgerVisible ? "hidden" : null;

    private void ToggleHamburgerMenu()
    {
        isHamburgerVisible = !isHamburgerVisible;
    }

}